{% extends 'base.html'%} {% block content%}
<section class="base-container">
    <h1>KNOWLEDGE BASE</h1>
    <h3>Durchsuche unsere großartige</h3>
    <h3>Datenbank mit Fachwissen</h3>
    <form method='POST' action="{% url 'start' %}">
        {{form}} {% csrf_token %}
        <input onkeydown="" type="text" name="searchData" placeholder="Knowledge Base durchsuchen">
    </form>

</section>
<section class="output-container">
    {% for knowledge in knowledges %}
    <div class="output-content">
        <h1>{{knowledge.title}}</h1>
        <p>{{knowledge.text}}</p>
        <span>{{knowledge.autor}}</span>
    </div>

    {%endfor%}

</section>


{%endblock%}