<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <header>
        <nav class="nav-container">
            <h1><a href="{% url 'start' %}">KNOWLEDGE <span>BASE</span></a></h1>
            <div class="link-container">
                <a href="#">Hinzufügen</a> |
                <a href="{% url 'agb' %}">AGB</a> |
                <a href="{% url 'legal' %}">Impressum</a>
            </div>

        </nav>
    </header>
    {%block content%} {%endblock%}
</body>

</html>